<html>
  <head>
    <title>Demo Heading</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
      <div class="banner"></div>
  <div class="all">

      <div class="box1">
        <div class="h1"></div>
        <div class="h2"></div>       
      </div>

      <div class="box2">
        <div class="h3"></div>
        <div class="h4"></div>
        <div class="h5"></div>
        <div class="h6"></div>
        <div class="h7"></div>
        <div class="h8"></div>
      </div>

      <div class="ngang"></div>

      <div class="box3">
        <div class="h9"></div>
        <div class="h10"></div>
        <div class="h11"></div>
      </div> 

      <div class="box4">
        <div class="h12"></div>
        <div class="h13"></div>
        <div class="h14"></div>
        <div class="h15"></div>
        <div class="h16"></div>
        <div class="h17"></div>
        <div class="h18"></div>
        <div class="h19"></div>
      </div>

      <div class="box5">
        <div class="h20"></div>
        <div class="h21"></div>
        <div class="h22"></div>
        <div class="h23"></div>
        <div class="h24"></div>
        <div class="h25"></div>
        <div class="h26"></div>
        <div class="h27"></div>
        <div class="h28"></div>
      </div>
  </div>


  </body>
</html>